<div class="results">
  <form>
    <h2>Вебмастер</h2>
    <p>Добавьте свой сайт в базу данных поисковика</p>
    <input type="url" placeholder="Ссылка" class="url">
    <input type="submit" class="btn">
  </form>
</div>
